{
    "tags": {
        "allowUnknownTags": true,
        "dictionaries": ["jsdoc"]
    },
    "source": {
        "include": ["./src/"],
        "includePattern": ".+\\.js$",
        "excludePattern": "(docs)"
    },
    "plugins": [],
    "templates": {
        "cleverLinks": false,
        "monospaceLinks": true,
        "systemName": "3D Tic tac toe",
        "footer": "Készítette: Martyin Kornél",
        "copyright": "2013",
        "navType": "vertical",
        "theme": "spacelab",
        "linenums": true,
        "collapseSymbols": true,
        "inverseNav": false
    },
    "opts": {
        "encoding": "utf8",
        "destination": "docs",
        "recurse": true,
        "private": true
    }
}